/** Переопределение миниатюр для плейлистов */

.playlist_C1B3445D80425AFC .thumb {
	background-image: url(../images/playlists/C1B3445D80425AFC.png) !important;
}

.playlist_A8F7ED92AA2CA715 .thumb {
	background-image: url(../images/playlists/A8F7ED92AA2CA715.png) !important;
}

.playlist_165E4BE3F2CF3577 .thumb {
	background-image: url(../images/playlists/165E4BE3F2CF3577.png) !important;
}

.playlist_4F71C25C0509F857 .thumb {
	background-image: url(../images/playlists/4F71C25C0509F857.png) !important;
}